- content_for :title do
  Study_Buddy
  \/
  Course 
  = @course.title
  \/
  Lesson
  = @lesson.title

= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= link_to @lesson.title, course_lesson_path(@course, @lesson)
%p

.row 
  .col-lg-6 
    = render 'lessons/lesson', lesson: @lesson
  .col-lg-6
= link_to 'Back to course', course_path(@lesson.course)